$red: #f00;
$white: #fff;
$black: #000;
$gold: #F2E65A;

$background-color: $white;
$text-color: $black;
$highlight-color: $gold;

@font-face {
   font-family: Mittelschrift;
   src: url('../fonts/din1451alt.ttf');
   font-weight: normal;
}

@font-face {
   font-family: Mittelschrift;
   src: url('../fonts/din1451alt_G.ttf');
   font-weight: bold;
}

.header-font {
  font-family: "Mittelschrift", sans-serif;
}

.body-font {
  font-family: "Merriweather", serif;
  color: $red;
}
