$red: #FF3239;
$white: #fff;
$black: #000;
$gold: #FCBD00;
$silver: #CBCBCB;
$darkGrey: #4A4A4A;
$veryDarkGrey: darken($darkGrey, 15%);
$veryLightGrey: #F6F6F6;
$lightGrey: #EFEFEF;
$bronze: #7D4600;

$blue: #2082A3;
$green: #5FAD56;
$purple: #C6239E;

$background-color: $white;
$text-color: $veryDarkGrey;
$highlight-color: $darkGrey;
$header-color: $darkGrey;

.header-font {
  font-family: 'Rubik', sans-serif;
}

.body-font {
  font-family: 'Rubik', sans-serif;
}

.handwriting-font {
  font-family: 'Reenie Beanie', cursive;
}
